
article {
    padding: 0 16px;
  }

/* サブタイトルに対するスタイルの追加 */
h2 {
    color: #000000; /* ターコイズブルー */
    border-bottom: 2px solid #000000;
    padding-bottom: 0.5em;
    margin-top: 20px;
    /* opacity: 0; */
    /* animation: fadeIn 1s ease-in-out forwards; */
}


section {
    margin-bottom: 20px;
}


  
/* 通常のスタイル */

/* レスポンシブデザインのためのメディアクエリ */

@media only screen and (max-width: 600px) {



}
