
article {
    padding: 0 16px;
  }

/* サブタイトルに対するスタイルの追加 */
h2 {
    color: #000000; /* ターコイズブルー */
    border-bottom: 2px solid #000000;
    padding-bottom: 0.5em;
    margin-top: 20px;
    /* opacity: 0; */
    /* animation: fadeIn 1s ease-in-out forwards; */
}

nav {
    background-color: #ffffff; /* ダークネイビー */
    overflow: hidden;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* ダークブルー */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}


  
/* 通常のスタイル */

/* レスポンシブデザインのためのメディアクエリ */

@media only screen and (max-width: 600px) {



}
